<div class="accounts__header-wrapper">
    <%- include('./partials/accountsHeader'); -%>
</div>
<div class="accounts__stats-wrapper">
    <%- include('./partials/accountsStats'); -%>
    <%- include('./partials/accountsWallets'); -%>
</div>
<div class="accounts__page-content-wrapper">
    <div class="accounts__24-hour-feed-wrapper">
        <%- include('./partials/accounts24HourFeed'); -%>
    </div>
    <div class="accounts__whales-wrapper">
        <%- include('./partials/accountsWhales'); -%>
    </div>
</div>